{{ 'team-section.css' | asset_url | stylesheet_tag }}

<div class="page-width section-team__page-width">
    <div class="row">
        <div class="main-content">
            <div class="main-content__subtitle">
                <h6>{{ section.settings.sub_title }}</h6>
            </div>
            <div class="main-content__title">
                <h3>{{ section.settings.title }}</h3>
            </div>
            <div class="main-content__description">
                <p>{{ section.settings.description }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="list-users">
            {%- for block in section.blocks -%}
            <div class="user-card">
                <div class="user-card__image">
                    {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                    {% else %}
                        {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {% endif %}
                </div>
                <div class="user-card__information">
                    {% if block.settings.name != blank %}
                        <div class="user-card__information--name">
                            <h5>{{ block.settings.name }}</h5>
                        </div>
                    {% endif %}
                    {% if block.settings.position != blank %}
                        <div class="user-card__information--position">
                            <p>{{ block.settings.position }}</p>
                        </div>
                    {% endif %}
                    <div class="user-card__information--socials">
                        <div class="socials__facebook social">
                            <a href="{{ block.settings.facebook | default: "#" }}">
                                {%- include 'icon-facebook' -%}
                            </a>
                        </div>
                        <div class="socials__instagram social">
                            <a href="{{ block.settings.instagram | default: "#" }}">
                                {%- include 'icon-instagram' -%}
                            </a>
                        </div>
                        <div class="socials__twitter social">
                            <a href="{{ block.settings.twitter | default: "#" }}">
                                {%- include 'icon-twitter' -%}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Section Team",
  "class": "section section-team",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title",
      "default": "Team"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Get Quality Education"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "User Card",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Julian Jameson"
        },
        {
          "type": "text",
          "id": "position",
          "label": "Position",
          "default": "Profession"
        },
        {
          "type": "url",
          "id": "facebook",
          "label": "Facebook"
        },
        {
          "type": "url",
          "id": "instagram",
          "label": "Instagram"
        },
        {
          "type": "url",
          "id": "twitter",
          "label": "Twitter"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section Team"
    }
  ]
}
{% endschema %}
